<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baiyan.ddd.biz.user.infrastructure.repository.mapper.UserMapper">

    <select id="userPage" resultType="com.baiyan.ddd.biz.user.infrastructure.repository.po.UserPO">
        SELECT
            *
        FROM
            t_user AS tu
        WHERE
            tu.deleted = 0
            <if test="keyword != null and keyword != ''">
                and (
                position(#{keyword} in tu.real_name) or
                position(#{keyword} in tu.user_name)
                )
            </if>
    </select>

</mapper>